.about {
  min-height: 100vh;
  position: relative;
  background-color: $about-right-bg;

  display: flex;
  flex-flow: row nowrap;

  @include tablet {
    flex-flow: column wrap;
    height: auto;
  }

  @include tablet {
    .triangle {
      fill: $olive;
    }
  }

  &__side {
    position: relative;
    width: 50%;
    @include tablet {
      width: 100%;
    }
  }

  &__title-wrapper {
    float: left;
    width: 50%;

    @include desktop {
      float: none;
      width: 60%;
      margin: auto;
      margin-bottom: 35px;
    }

    @include tablet {
      max-width: 350px;
      margin-bottom: 60px;
    }

    @include phone {
      min-width: 95%;
      width: 95%;
    }
  }

  &__title {
    margin-bottom:0;
    letter-spacing: 2px;
  }

  &__left {
    background-color: $olive;

    @include tablet {
      padding: 30px 0;
    }
  }
  &__right {
    background-color: $about-right-bg;
  }

  &__description {
    @extend .clearfix;
    padding: 20px 0;
    padding-right: 18px;
    min-height: 100vh;

    @include desktop {
      min-height: 0;
    }

    @include tablet {
      padding: 0;
      width: 100%;
    }
  }

  &__utilities {
    padding: 10px 35px;
    padding-right: 0;

    @include tablet {
      padding: 30px 0;
    }
  }
}