.about {
  @extend .clearfix;
  height: 855px;
  position: relative;

  &__side {
    float: left;
    width: 50%;
    position: relative;
    height: 100%;
    padding: 0 18px;
    @extend .clearfix;
  }

  &__title-wrapper {
    float: left;
    width: 50%;
  }

  &__title {
    margin-bottom:0;
    line-height: 0.4;
    letter-spacing: 2px;
  }

  &__left {
    background-color: $olive;
  }
  &__right {
    background-color: $about-right-bg;
  }

  &__description {
    @extend .clearfix;
    padding-top: 20px;
  }

  &__utilities {
    padding: 15px 35px;
  }
}