.about {
  @extend .clearfix;
  height: rem(860px);
  position: relative;
  &__side {
    float: left;
    width: 50%;
    position: relative;
    height: 100%;
  }

  &__title-wrapper {
    float: left;
    width: 50%;
  }

  &__title {
    margin-bottom:0;
  }

  &__left {
    background-color: $olive;
  }
  &__right {
    background-color: $about-right-bg;
  }

  &__description {
    padding: 0 rem(80px);
    @extend .clearfix;
  }

  &__utilities {
    padding: 0 rem(35px);
  }
}