// BLOG section

.blog {

  position: relative;
  background-color: $blog-bg;
  padding-bottom: 185px;

  display: flex;

  @include tablet {
    padding-bottom: 240px;
  }

  @include phone {
    padding-bottom: 330px;
  }

  &__aside {
    width: 25%;
    padding: 0 60px 0 15px;

    @include desktop {
      padding-right: 0;
    }


    @include tablet {
      display: block;
      position: fixed;
      right: 100%;
      top: 0;
      bottom: 0;
      max-width: 285px;
      width: 90%;
      background-color: $light-green;
      z-index: 1000;
      box-shadow: 3px 0 5px 0 rgba(black,0.2);

      .blog__aside-label {
        position: absolute;
        content: '';
        width: 60px;
        height: 60px;
        background-color: $light-green;
        border-radius: 50%;
        right: -15px;
        top: 50%;
        margin-top: -30px;
        box-shadow: 3px 0 5px 0 rgba(black,0.2);
      }
    }
  }

  &__content {
    width: 75%;
    padding: 0 15px 0 60px;

    @include desktop {
      padding-left: 40px;
    }
    @include media(900px) {
      padding-right: 15px;
    }
    @include tablet {
      padding: 0 30px;
      width: 100%;
    }

  }

}