.contacts {
  position: relative;
  padding-bottom: 185px;

  @include tablet {
    padding-bottom: 265px;
  }

  &__info-block {
    z-index: 10;

    @include phone {
      margin-top: 0;
      top: 0;
      left: 0;
    }
  }

  &-map-wrapper {
    position: relative;

    height: 100vh;
    min-height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;

    @include phone {
      align-items: flex-start;
    }
  }

  &__map {
    overflow: hidden;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}