//HEADER

.header {
  height: rem(600px);
  position: relative;
  background: url('../img/intro-bg.jpg') center top no-repeat;
  background-size: cover;

  $margin-vert: 20px;
  $margin-side: 20px;

  &__menu {
    position: absolute;
    top: rem($margin-vert);
    right: rem($margin-side);
    width: rem(32px);
    height: rem(22px);
    cursor: pointer;
  }

  &__socials {
    position: absolute;
    top: rem($margin-vert);
    left: rem($margin-side);
  }

  &__desc {
    @include center('y');
    width: 100%;
  }

  &__image {
    width: 100%;
    height: 50%;
    @include center('y');
    fill: rgba($white,.12);
  }

  &__scroll-down-arrow {
    @include center('x');
    bottom: rem($margin-vert);
    width: rem(30px);
    height: rem(20px);
    z-index: 1000;
    cursor: pointer;
  }


}