// INTRO section

.intro {
  background: url('../img/intro-bg.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
  width: 100%;
  position: relative;

  display: flex;

  &__wrapper {
    align-self: center;
    width: 100%;
  }

  &__footer {
    @include center('x');
    bottom: 40px;
    @include font-style($main-text,$white,16px,1.5,0);
  }
}