// LOGIN section

.login {
  width: 95%;
  max-width: 380px;

  margin: auto;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -190px;
  background-color: rgba($welcome-bg,.6);
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 65px;

  transform: rotateY(90deg);
  transition: transform .4s ease-out;

  &__title {
    line-height: 1.8;
    margin-bottom: 45px;
    color: $white;

    &:after {
      background-color: $white;
    }
  }
}