// LOGIN section

.login {
  width: 95%;
  max-width: 380px;

  @include center();
  background-color: rgba($welcome-bg,.6);
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 65px;
  position: relative;


  &__title {
    line-height: 1.8;
    margin-bottom: 45px;
    color: $white;

    &:after {
      background-color: $white;
    }
  }
}