.testimonials {
  background: url('../img/testimonials-bg.png') center top no-repeat;
  background-size: cover;
  background-color: #f4f5f0;
  height: 1355px;
  padding-top: 60px;
  padding-bottom: 185px;

  @include phone {
    padding-bottom: 350px;
    height: auto;
  }

  &__title-wrapper {
    margin-bottom: 50px;
  }

  &__title {
    max-width: 420px;
    line-height: 1.0;
    margin: auto;

    &:after {
      top: 160px;
    }
  }

  &__content {
    max-width: 820px;
    margin: auto;
    @extend .clearfix;
  }

  &__up-arrow {
    position: relative;
    width: 30px;
    height: 20px;
    margin: 60px auto;
  }
}