.works {
  background-color: $works-section-bg;
  position: relative;

  &__triangle-wrapper {
    @extend .clearfix;
  }

  &__triangle {
    width: 50%;
    float: left;
  }

  &__head {
    padding-top: 48px;
    margin-bottom: 50px;
  }

  &__title {

  }
}