
//- header section
mixin header(headerClass,scroll)
    //HEADER section
    header(class=(headerClass) ? ('header header-' + headerClass) : 'header')

        .header__socials
            +socials

        .header__menu
            .burger

        .header__desc
            .developer
                .developer__photo
                .developer__name Алексей Ильин
                .developer__description личный вебсайт разработчика

        if (scroll)
            .header__scroll-down-arrow


//- social icons list
mixin socials
    ul.socials
        each href, item in socials
            li.socials__item
                a(class="socials__link socials__link_" + item href= href target="_blank")

// - navigation menu list
mixin nav(sectionName)
    ul(class= sectionName + '-nav')
        each href, name in navMenu
            li(class= sectionName + '-nav__item')
                a(class= sectionName + '-nav__link' href= href)= name