
//- header section
mixin header(headerClass,scroll)
    //HEADER section
    header(class=(headerClass) ? ('header header-' + headerClass) : 'header')

        .header__socials
            +socials

        .header__menu
            .burger

        .header__desc
            +developer

        if (scroll)
            .header__scroll-down-arrow

//- social icons list
mixin socials
    ul.socials
        each href, item in socials
            li.socials__item
                a(class="socials__link socials__link_" + item href= href target="_blank")

// - navigation menu list
mixin nav(sectionName, sectionToPass)
    ul(class= sectionName + '-nav nav')
        each href, name in navMenu
            if (name!==sectionToPass)
                li(class= sectionName + '-nav__item nav__item')
                    a(class= sectionName + '-nav__link nav__link' href= href)= name

mixin developer(section)
    div(class= (section)?('developer developer-'+section):('developer'))
        div(class= (section)?('developer__photo developer-'+section+'__photo'):('developer__photo'))
            img(src=developer.photo alt=developer.name)
        div(class= (section)?('developer__name developer-'+section+'__name'):('developer__name'))= developer.name
        div(class= (section)?('developer__description developer-'+section+'__description'):('developer__description'))= developer.description