-
    var developer = {
        "name": "Алексей Ильин",
        "description": "личный вебсайт разработчика",
        "photo": "./assets/img/developer-photo-tpl.jpg"
    }

    var skills= {
        "frontend": ["html5","css3","JavaScript & jQuery"],
        "backend": ["PHP","mySQL","Node.js & npm", "Mongo.db"],
        "WorkFlow": ["Git","Gulp","Bower"]
    }

    var navMenu= {
        "мои работы": "works.html",
        "блог": "blog.html",
        "обо мне": "about.html",
        "авторизация": "index.html"
    }

    var socials= {
        "vk": "https://vk.com/",
        "github": "https://github.com/",
        "in": "https://www.linkedin.com/"
    }

    var contacts= {
        "skype": "barigi06",
        "mail": "ilin.job@gmail.com",
        "phone": "+375295555555",
        "address": "РБ"
    }

    var testimonials = [
        {
            'authorPhoto': '',
            'text': 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!',
            'authorName': 'Ковальчук Дмитрий',
            'authorDesc': 'основатель Loftschool'
        },
        {
            'authorPhoto': '',
            'text': 'Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
            'authorName': 'Сабанцев Владимир',
            'authorDesc': 'преподаватель'
        }
    ]