-
    var developer = {
        "name": "Алексей Ильин",
        "description": "личный вебсайт разработчика",
        "photo": "./assets/img/developer-photo-tpl.jpg"
    }

    var skills= {
        "Frontend": {"HTML5":"90","CSS3":"80","JavaScript & jQuery":"70"},
        "Backend": {"PHP":"40","mySQL":"20","Node.js & npm":"50", "Mongo.db":"20"},
        "WorkFlow": {"Git":"40","Gulp":"70","Bower":"70"}
    }

    var navMenu= {
        "Мои работы": "works.html",
        "Блог": "blog.html",
        "Обо мне": "about.html",
        "Авторизация": "index.html"
    }

    var socials= {
        "vk": "https://vk.com/",
        "github": "https://github.com/",
        "in": "https://www.linkedin.com/"
    }

    var contacts= {
        "skype": "barigi06",
        "mail": "ilin.job@gmail.com",
        "phone": "+375295555555",
        "address": "РБ"
    }

    var testimonials = [
        {
            'authorPhoto': './assets/img/testimon1-img.png',
            'text': 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!',
            'authorName': 'Ковальчук Дмитрий',
            'authorDesc': 'основатель Loftschool'
        },
        {
            'authorPhoto': './assets/img/testimon2-img.png',
            'text': 'Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
            'authorName': 'Сабанцев Владимир',
            'authorDesc': 'преподаватель'
        }
    ]