.button {
  background-color: $light-green;
  display: inline-block;
  @include font-style($medium-text,$white,rem(16px),rem(20px),0);
  padding: rem(10px) rem(20px);
  border-radius: rem(10px);
  cursor: pointer;

  &:hover {
    background-color: $green;
  }
}