.button {
  background-color: rgba($light-green,.9);
  @include font-style($medium-text,$white,16px,20px,0);
  border-radius: 10px;
  cursor: pointer;
  border: 0;

  flex: 1 1 20px;

  &:hover {
    background-color: rgba($green,.9);
  }

  &_left {
    border-radius: 0 0 0 10px;
    border-right: 2px solid rgba($button-border,.5);
  }
  &_right {
    border-radius: 0 0 10px 0;
    border-right: 0;
  }
  &_center {
    border-radius: 0;
    border-right: 2px solid rgba($button-border,.5);
  }
}

.buttons-block {
  display: flex;
  flex-flow: nowrap;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

}