.subtitle {
  @include font-style($title-text,$light-grey,35px,1.4,0);
  margin-bottom: 28px;
  text-transform: uppercase;
  position: relative;
  text-align: center;

  &:after {
    content: '';
    @include center('x');
    bottom: -20px;
    height: 3px;
    width: 90px;
    background-color: $light-grey;
  }

}

