.title-wrapper {
  position: relative;
  width: 100%;
  z-index: 100500;
}

.title-bg {
  @include center();
  height: auto;
  width: 100%;

  &_about {
    fill: rgba($light-green,.1);
  }

  &_works,
  &_testimonials{
    fill: rgba(#93c42e,.1);
  }

  &_blog {
    fill: rgba($white,.12);
  }

}

.title {
  @include font-style($title-text,$grey,63px,1.2,0);
  margin-bottom: 70px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  padding: 30px 0;

  &:after {
    content: '';
    @include center('x');
    top: 110%;
    height: 3px;
    width: 90px;
    background-color: $grey;
  }

}