.auth-button {
  border: 1px solid $white;
  border-radius: 23px;
  height: 45px;
  @include font-style($main-text,$white,16px,42px,0);
  text-align: center;
  padding: 0 30px;
  display: inline-block;
  position: absolute;
  right: 100px;
  top: 25px;

  &:hover {
    cursor: pointer;
    background-color: $green;
    border-color: #729e19;
  }
}