.blog-titles {
  padding-top: 80px;
  margin-left: auto;
  margin-right: 0;
  max-width: 280px;


  &__item {
    text-align: right;
    @include font-style($main-text,$contacts-info-text,16px,1.6,0);
    margin-bottom: 28px;
    padding-right: 20px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;

    @include phone {
      color: rgba($white,.7);
      padding-right: 0;
    }

    &.active {
      color: $green;
      font-family: $bold-text;

      @include phone {
        color: $white;
      }

      &:after {
        content: '';
        height: 42px;
        width: 3px;
        background-color: $green;
        @include center('y');
        right: 0;

        @include phone {
          display: none;
        }

      }
    }
  }

}