.blog-article {
  padding: rem(65px) 0;
  position: relative;
  &__title {
    @include font-style($bold-text,$contacts-info-text,rem(35px),1.2,0);
    margin-bottom: rem(20px);
  }
  &__date {
    @include font-style($main-text,$green,rem(16px),1.2,0);
    margin-bottom: rem(20px);
  }
  &__text {
    p {
      @include font-style($main-text,$contacts-info-text,rem(16px),1.625,0);
      margin-bottom: rem(15px);
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: rem(680px);
    height: rem(5px);
    background-color: rgba($grey,.07);
  }
}