.blog-titles {
  padding: 65px 0;

  &__item {
    text-align: right;
    @include font-style($main-text,$contacts-info-text,16px,1.25,0);
    margin-bottom: 20px;
    padding-right: 20px;
    min-height: 42px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;

    &.active {
      color: $green;
      font-family: $bold-text;


      &:after {
        content: '';
        height: 100%;
        width: 3px;
        background-color: $green;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }

  &__text {
    @include center('y');
    right: 20px;
  }

}