.blog-article {
  max-width: 881px;
  padding: 65px 0;
  position: relative;

  @include tablet {
    max-width: 100%;
  }

  &__title {
    @include font-style($title-text,$contacts-info-text,35px,1.2,0);
    margin-bottom: 20px;
  }
  &__date {
    @include font-style($main-text,$green,16px,1.2,0);
    margin-bottom: 20px;
  }
  &__text {
    p {
      @include font-style($main-text,$contacts-info-text,16px,1.625,0);
      margin-bottom: 10px;
    }
  }

  &__inner {
    overflow: scroll;

  }

  &:last-child {
    padding-bottom: 50px;

    &:after {
      display: none;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 680px;
    height: 5px;
    background-color: rgba($grey,.07);
  }
}