.blog-article {
  padding: 65px 0;
  position: relative;
  &__title {
    @include font-style($bold-text,$contacts-info-text,35px,1.2,0);
    margin-bottom: 20px;
  }
  &__date {
    @include font-style($main-text,$green,16px,1.2,0);
    margin-bottom: 20px;
  }
  &__text {
    p {
      @include font-style($main-text,$contacts-info-text,16px,1.625,0);
      margin-bottom: 15px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 680px;
    height: 5px;
    background-color: rgba($grey,.07);
  }
}