.carousel {
  height: 750px;
  @extend .clearfix;

  &-preview {
    width: 50%;
    float: right;
    height: 520px;
    background-color: $carousel-preview-bg;
    padding: 50px 20px;
    text-align: center;

    &__image {
      width: auto;
      height: 100%;
      display: inline-block;
    }
  }

  &-link {
    width: 50%;
    float: left;
    height: 100%;
    position: relative;
    background-color: $olive;

    &__block {
      position: absolute;
      top: 240px;
      text-align: center;
      width: 100%;
    }

    &__title {
      line-height: 1.2;
      margin-bottom: 47px;
      &:after {
        top: 105px;
      }
    }

    &__desc {
      @include font-style($medium-text,$green,16px,1.5,0);
      margin-bottom: 55px;
    }
    &__button {
      width: 200px;
      height: 45px;
      line-height: 45px;
      border-radius: 22.5px;
      padding: 0;
      padding-left: 50px;
      position: relative;
      text-align: left;
    }

    &__icon {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 20px;
      top: 5px;
    }

  }

  &-control {
    width:50%;
    float: right;
    height: 230px;
    @extend .clearfix;
    text-align: center;

    &__prev,
    &__next {
      float: left;
      width: 50%;
      height: 100%;
      position: relative;
      cursor: pointer;
    }

    &__prev {
      background-color: $carousel-down-bg;
    }
    &__next {
      background-color: $carousel-up-bg;
    }

    &__image {
      width: auto;
      height: 100%;
      display: inline-block;
    }

    &__button {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba($carousel-controls-bg,.7);
    }

    &__icon {
      @include center();
      width: 40px;
      height: 26px;
    }
  }
}