.carousel {
  @extend .clearfix;

  $carousel-height: 1010px;

  height: $carousel-height;

  @include phone {
    height: 650px;
  }

  &-preview {
    width: 50%;
    float: right;
    height: (520px/$carousel-height)*100%;
    background-color: $carousel-preview-bg;
    padding: 50px 20px;
    text-align: center;

    @include tablet {
      float: none;
      width: 100%;
      padding: 0;

      &__image {
        width: 100%;
        height: auto;
      }
    }

    @include phone {
      height: (300px/650px)*100%;
    }

    &__image {
      width: auto;
      height: 100%;
      display: inline-block;
    }
  }

  &-link {
    width: 50%;
    float: left;
    height: 100%;
    position: relative;
    background-color: $olive;

    @include tablet {
      float: none;
      width: 100%;
      height:(270px/$carousel-height)*100%;
    }

    @include phone {
      height: (250px/650px)*100%;
    }


    &__block {
      position: absolute;
      top: 240px;
      text-align: center;
      width: 100%;

      @include tablet {
        @include center('y');
      }
    }

    &__title {

      max-width: 50%;
      margin: auto;
      line-height: 1.2;
      margin-bottom: 47px;

      &:after {
        top: 105px;
      }

      @include tablet {
        min-width: 100%;
        margin-bottom: 30px;
        &:after {
          top: 50px;
        }
      }

      @include media (400px) {
        &:after {
          top: 95px;
        }
      }
    }

    &__desc {
      @include font-style($medium-text,$green,16px,1.5,0);
      margin-bottom: 55px;

      @include tablet {
        margin-bottom: 30px;
      }

      @include media (400px) {
        margin-bottom: 20px;
      }
    }
    &__button {
      width: 200px;
      height: 45px;
      line-height: 45px;
      border-radius: 22.5px;
      padding: 0;
      padding-left: 50px;
      position: relative;
      text-align: left;
    }

    &__icon {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 20px;
      top: 5px;
    }

  }

  &-control {
    width:50%;
    float: right;
    height: (230px/$carousel-height)*100%;
    @extend .clearfix;
    text-align: center;

    @include tablet {
      float: none;
      width: 100%;
      height: (215px/$carousel-height)*100%;

    }

    &__prev,
    &__next {
      float: left;
      width: 50%;
      height: 100%;
      position: relative;
      cursor: pointer;
    }

    &__prev {
      background-color: $carousel-down-bg;
    }
    &__next {
      background-color: $carousel-up-bg;
    }

    &__image {
      width: auto;
      height: 100%;
      display: inline-block;
    }

    &__button {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba($carousel-controls-bg,.7);
    }

    &__icon {
      @include center();
      width: 40px;
      height: 26px;
    }
  }
}