.developer-info {
  width: 50%;
  float: right;
  &__photo {
    width: 100%;
    overflow: hidden;

    img {

    }
  }

  &__text {
    p {
      @include font-style($main-text,$light-grey,16px,1.5,0);
      margin-bottom: 10px;
    }
  }

}