// developer block

.developer {
  text-align: center;
  position: relative;
  z-index: 10;

  &__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    position: relative;

    img {
      @include center();
      height: 100%;
    }
  }

  &__name {
    @include font-style($medium-text,$white,35px,1.2,0)
  }

  &__description {
    @include font-style($main-text,$white,16px,1.5,0)
  }
}