.developer-info {
  width: 50%;
  float: right;
  &__photo {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;

  }

  &__title {
    margin-bottom: 47px;
  }

  &__text {
    p {
      @include font-style($main-text,$light-grey,16px,1.5,0);
      margin-bottom: 10px;
    }
  }

}