.flip {
  display: none;
  &__label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }

  &:checked ~ .intro__wrapper {
    .welcome {
      transform: rotateY(-90deg);
      transition-delay: 0s;
    }
    .login {
      transform: rotateY(0);
      transition-delay: $animate-auth-flip;
    }
  }

  &:checked ~ .auth-button {
    display: none;
  }
}