.fullscreen-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
  overflow-Y: hidden;

  transition: visibility 0s ease-in .4s;

  visibility: hidden;
  z-index: 100;

  &__nav {
    @extend .clearfix;
  }

  &__bg {
    background-color: rgba($light-green, .87);
    position: absolute;
    top: 0;
    bottom: 0;

    &_left {
      transition: right .4s ease-out;
      left: 0;
      right: 100%;
    }

    &_right {
      transition: left .4s ease-out;
      right: 0;
      left: 100%;
    }
  }
}

.main-nav {
  transition: visibility 0s ease-in 0s;
  visibility: hidden;

  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;



  &__item {
    @include font-style($bold-text,$white,52px,2,0);
    position: relative;
    margin-bottom: 20px;

    @include tablet {
      font-size: 42px;
      margin-bottom: 0;
    }

    @include phone {
      font-size: 38px;
    }

    &:after {
      content: '';
      height: 3px;
      width: 0;
      background-color: $white;
      @include center('x');
      top: 100%;
    }

    &:hover {
      &:after {
        width: 90px;
      }
    }
  }
}