.fullscreen-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba($light-green,.87);
  text-align: center;

  display: none;

  &__button {
    position: absolute;
    top: 28px;
    right: 29px;
    width: 42px;
    height: 36px;
  }
}

.main-nav {
  @include center();
  &__item {
    @include font-style($bold-text,$white,63px,2,0);
    position: relative;
    margin-bottom: 30px;

    &:after {
      content: '';
      height: 3px;
      width: 0;
      background-color: $white;
      @include center('x');
      top: 100%;
    }

    &:hover {
      &:after {
        width: 90px;
      }
    }
  }
}