.fullscreen-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100500;
  background-color: rgba($light-green,.87);
  text-align: center;

  display: none;
}

.main-nav {
  @include center();
  &__item {
    @include font-style($bold-text,$white,rem(63px),2,0);
    position: relative;
    margin-bottom: rem(30px);

    &:after {
      content: '';
      height: rem(3px);
      width: 0;
      background-color: $white;
      @include center('x');
      top: 100%;
    }

    &:hover {
      &:after {
        width: rem(90px);
      }
    }
  }
}