.icon {
  width: 100%;
  height: 100%;

  &__link {
    cursor: pointer;

    &.icon_white {
      &:hover {
        fill: $light-green;
      }
    }
    &.icon_grey {
      &:hover {
        fill: $white;
      }
    }
  }

  &_white {
    fill: $white;
  }

  &_grey {
    fill: $footer-social-icons;
  }

  &_green {
    fill: $light-green;
  }

}