.icon {
  width: 100%;
  height: 100%;

  &__link {
    cursor: pointer;
    transition: all 5s ease-in;

    &.icon_white {

      &:hover {
        fill: $light-green;
      }
    }

    &.icon_grey {
      &:hover {
        fill: $white;
      }
    }
  }

  &_white {
    fill: $white;
  }

  &_grey {
    fill: $footer-social-icons;
  }

  &_green {
    fill: $light-green;
  }

  &_login,
  &_password {
    width: 17px;
    height: 17px;
    @include center('y');
    left: 15px;
  }

  &_checkbox {
    fill: $white;
    width: 10px;
    height: 10px;
    @include center('y');
    left: 5px;
  }

  &_radio {
    fill: $white;
    width: 8px;
    height: 8px;
    @include center('y');
    left: 6px;
  }

}