.invalid-message {
  top: 95%;
  left: 45px;
  position: absolute;
  width: auto;
  background-color: $red;
  border-radius: 3px;
  z-index: 1000;

  display: none;

  &__text {
    padding: 15px 18px;
    position: relative;
    @include font-style($medium-text,$white,16px,1.2,0);
  }
  &__pointer {
    width: 18px;
    height: 9px;
    fill: $red;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
  }
}