.login-form {

  text-align: center;

  &__input {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: #f0efe9;
    border-radius: 50% 0 0 50%;
    border-right: 1px solid #f0efe9;

    transition: border-color .2s ease-in;

    .icon {
      transition: fill .5s ease-out;
    }
  }

  &__name,
  &__pass {
    height: 45px;
    @include font-style($main-text,$light-grey,16px,45px,0);

    padding-left: 65px;
    padding-right: 22.5px;

    border-radius: 22.5px;
    border: 0;
    width: 100%;
    margin-bottom: 20px;

    &::placeholder {
      color: rgba($input-text,.5);
    }

    &:focus {
      outline: none;
    }

    &:required:valid {
      border: 1px solid $light-green;

      & ~ .login-form__icon{
        border-color: $light-green;
        .icon {
          fill: $light-green;
        }
      }
    }
    /*
    &:required:invalid {
      border: 1px solid $red;

      & ~ .login-form__icon{
        border-color: $red;
        .icon {
          fill: $red;
        }
      }

      & ~ .invalid-message {
        display: block;
      }

    }
    */

  }

  &__pass {
    margin-bottom: 15px;
  }


  &__label {
    color: $white;
    opacity: .8;
    display: inline-block;
    font-family: $medium-text;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
  }

  &__checkbox {
    font-size: 0;
    margin-bottom: 8px;

    input {
      display: none;

      &:checked + label {
        .checkbox {
          background-color: $light-green;
        }
      }
    }

  }

  .not-a-robot {

    &__title {
      @include font-style($bold-text,$white,16px,1.5,0);
      margin-bottom: 5px;
    }

    &__radio {
      font-size: 0;
      input {
        display: none;
      }
      label {
        margin-right: 35px;
        &:last-child {
          margin-right: 0;
        }
      }
      &:checked + label {
        color: $green;

        .icon {
          fill: $light-green;
        }
      }
    }

  }

  &__button {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 50%;
    height: 45px;
    @include font-style($medium-text,$white,16px,45px,0);
    padding: 0;

    &.button_left {
      left: 0;
    }
    &.button_right {
      right: 0;
    }
  }
}
