.menu-hider {
  display: none;

  &:checked ~ .fullscreen-menu {

    visibility: visible;
    transition: visibility 0s ease-in 0s;

    .fullscreen-menu__bg {
      &_left {
        right: 50%;
      }
      &_right {
        left: 50%;
      }
    }

    .main-nav {
      transition: visibility 0s ease-in .4s;
      visibility: visible;
    }

  }

  &:checked ~ .header__menu {

    z-index: 100;

    .burger {
      &__line {
        &:nth-child(1) {
          transition: top $animate-burger-speed ease-out, opacity $animate-burger-speed ease-in;
          top: 50%;
          opacity: 0;
        }
        &:nth-child(2) {
          transition: top $animate-burger-speed ease-out, transform $animate-burger-speed ease-out $animate-burger-speed;
          top: 50%;
          transform: rotateZ(45deg);
        }
        &:nth-child(3) {
          transition: top $animate-burger-speed ease-out, transform $animate-burger-speed ease-out $animate-burger-speed;
          top: 50%;
          transform: rotateZ(-45deg);
        }
      }
    }
  }
  &__label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    z-index: 100;
  }
}