.menu-hider {
  display: none;

  &:checked ~ .header,
  &:checked ~ .header-blog {
    .burger {
      display: none;
    }
  }

  &:checked ~ .fullscreen-menu {

    transition-delay: 0s;
    visibility: visible;

    .burger {
      &__line {
        &:nth-child(1) {
          top: 50%;
          opacity: 0;
        }
        &:nth-child(2) {
          transition: top $animate-burger-speed ease-out, transform $animate-burger-speed ease-out $animate-burger-speed;
          top: 50%;
          transform: rotateZ(45deg);
        }
        &:nth-child(3) {
          transition: top $animate-burger-speed ease-out, transform $animate-burger-speed ease-out $animate-burger-speed;
          top: 50%;
          transform: rotateZ(-45deg);
        }
        &:nth-child(4) {
          transition: top $animate-burger-speed ease-out, opacity 0s ease-in $animate-burger-speed;
          top: 50%;
          opacity: 0;
        }
      }
    }

  }

  &__label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    z-index: 100;
  }
}