.short-testimonial {

  &__text {
    @include font-style($light-text,$white,16px,1.5,0);
    font-style: italic;
  }
  &__author {
    @include font-style($bold-text,$white,16px,1.5,0);
    font-style: italic;
    padding-left: 20px;
    position: relative;


    &:before {
      content: '';
      height: 1px;
      width: 10px;
      @include center('y');
      left: 0;
      background-color: $white;

    }
  }



}