.skills-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;

  @include laptop {
    justify-content: space-around;
  }

  @include tablet {
    justify-content: center;
  }

  @include phone {
    justify-content: space-around;
  }

  &__item {
    margin-right: 30px;

    @include laptop {
      margin: 0;
    }

    @include tablet {
      margin: 0 10px;
    }

    @include phone {
      margin: 0;
    }



    &:last-child {
      margin-right: 0;
    }

  }
}