.skill {
  position: relative;
  width: rem(120px);
  height: rem(120px);

  &__circle {
    position: absolute;
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
  }
  &__name {
    @include font-style($main-text,$green,rem(14px),1.2,0);
    @include center();
  }

  &__indicator {
    &_green {
      stroke: $light-green;
    }
  }

  &__bg {
    &_grey {
      fill: $skill-bg;
    }
  }

  &__front {
    &_white {
      fill: $about-right-bg;
    }
  }



}