.skills-list {
  width: 100%;
  @extend .clearfix;
  margin-bottom: 20px;
  &__item {
    float: left;
    max-width: 25%;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }
}