.skill-group-list {

  &__item {
    margin-bottom: 30px;

    @include tablet {
      text-align: center;
    }
  }

  &__title {
    @include font-style($medium-text,$light-grey,28px,1.5,0);
    margin-bottom: 10px;
  }

}