.testimonial {
  width: 50%;
  float: left;
  padding: 15px;
  position: relative;
  margin-bottom: 50px;
  &__author-photo {
    text-align: center;
    margin-bottom: 10px;
  }
  &__text {
    @include font-style($main-text,$light-grey,16px,1.6,0);
    font-style: italic;
    margin-bottom: 20px;
  }
  &__author-name {
    text-align: center;
    @include font-style($bold-text, $green, 16px, 1.5, 0);
    font-style: italic;
  }
  &__author-desc {
    text-align: center;
    @include font-style($main-text,$grey,16px,1.5,0);
    text-align: center;
    font-style: italic;

    &-text {
      padding-left: 20px;
      display: inline-block;
      position: relative;

      &:before {
        content: '';
        height: 1px;
        width: 10px;
        background-color: $grey;
        @include center('y');
        left: 0;
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url('../img/testimonial-bg.png') 5% 45% no-repeat;
  }
}