.utilities {

  &__title {
    line-height: 1.1;
    margin-bottom: 50px;

    &:after {
      top: 100px;
    }
  }

  &__description {

    @include tablet {
      width: 95%;
      max-width: 475px;
      margin: auto;
    }

    @include phone {
      width: 100%;
      max-width: 100%;
      padding: 0 15px;
    }

    p {
      @include font-style($main-text,$light-grey,16px,1.5,0);
      margin-bottom: 45px;
    }
  }

}