.welcome {
  width: 95%;
  max-width: 380px;
  height: 400px;
  background-color: rgba($welcome-bg,.6);
  border-radius: 10px;
  padding-top: 48px;
  margin: auto;
  position: relative;

  transition: transform $animate-auth-flip linear;
  transition-delay: $animate-auth-flip;

  @include tablet {
    padding-top: 20px;
  }

  &__info {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 20px;
    }
  }
  &__socials {
    text-align: center;

  }

  &__navigation {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__developer-description {
    opacity: .8;
  }

  &-nav {

    display: flex;

    &__item {
      @extend .button;
      @extend .button_center;

      flex: .85 .85;

      &:first-child {
        @extend .button_left;

        flex: 1 1;
      }

      &:last-child {
        @extend .button_right;

        flex: .65 .65;
      }

      height: 45px;
      text-align: center;
      line-height: 45px;

      &__link {
        @include font-style($medium-text,$white,16px,1.2,0);
      }
    }

  }


}