/* variables */

$white: #ffffff;
$light-green: #6c9c5a;
$green: #4e8839;
$light-grey: #566358;
$grey: #373e42;
$red: #e44845;
$link-color: #6da3bd;
$olive: #ebefe2;
$skill-bg: #dfdcd5;
$about-right-bg: #f4f5f0;
$contacts-info-text: #455a64;
$footer-social-icons: #a9acae;
$works-section-bg: #f8f9f5;
$carousel-preview-bg: #e1e4d7;
$carousel-down-bg: #f1ede1;
$carousel-up-bg: #e3ded0;
$carousel-controls-bg: #93998d;
$input-text: #5d5a55;
$button-border: #dee3e7;
$blog-bg: #faf8f0;
$welcome-bg: #122620;

$title-text: 'Sansus-Webissimo-Regular', sans-serif;
$main-text: 'Roboto-Regular', sans-serif;
$light-text: 'Roboto-Light', sans-serif;
$medium-text: 'Roboto-Medium', sans-serif;
$bold-text: 'Roboto-Bold', sans-serif;
