/* variables */

$rem: 16px;
$icon-size: 30px;

$white: #ffffff;
$light-green: #6c9c5a;
$green: #4e8839;
$light-grey: #566358;
$grey: #373e42;
$red: #e44845;
$link-color: #6da3bd;
$olive: #ebefe2;
$skill-bg: #dfdcd5;
$about-right-bg: #f4f5f0;

$title-text: 'Sansus-Webissimo-Regular', sans-serif;
$main-text: 'Roboto-Regular', sans-serif;
$light-text: 'Roboto-Light', sans-serif;
$medium-text: 'Roboto-Medium', sans-serif;
