.blurIn,
.blurIn span {
  animation-name: blurIn;
  animation-fill-mode: both;
}

@keyframes pulldown {
  from {
    transform: rotateX(90deg);
    transform-origin: top;
    opacity: 0;
  }
  to {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

// blur text animation

@keyframes blurIn {
  from {
    transform: scaleX(0.2);
    filter: blur(20px);
    opacity: 0;
  }
}