// ABOUT section
section.about

    .about__left.about__side
        +title('about','обо мне',true)
        .about__description
            .developer-info
                .developer-info__photo
                    img(src=''+developer.photo)
                .subtitle.developer-info__title Кто я
                .developer-info__text
                    p Я веб разработчик из Беларусии. Мне 33 года. Я занимаюсь разработкой сайтов и приложений несколько лет.
                    p Этот сайт сделалан для перезентации моих навыков и очередной тренировки. Постепенно, по мере моего развития сайт будет наполняться. А пока как есть.

    .about__right.about__side
        .about__utilities
            .utilities
                .subtitle.utilities__title
                    | Чем я могу быть<br> вам полезен
                .utilities__description
                    p Основной сферой моей деятельности является Frontend, но не сложные задачи на Backend могу решить.

                .skill-group-list
    +triangle('olive','white')