//BLOG section

section.blog
    aside.blog__aside
        .blog-titles
            ul.blog-titles__list
                li.blog-titles__item.active#221120161
                    .blog-titles__text Самое важное в SASS
                li.blog-titles__item#131120161
                    .blog-titles__text Приёмы в вёрстке, без которых не обходится ни один сайт
                li.blog-titles__item#101120162
                    .blog-titles__text Самый необходимый набор Gulp плагинов
                li.blog-titles__item#101120161
                    .blog-titles__text Почему я выбрал Pug
        .blog__aside-label

    .blog__content

        article.blog-article('data-number=221120161')
            h3.blog-article__title Самое важное в SASS
            .blog-article__date 22 ноября 2016
            .blog-article__text
                p.
                    Таким образом начало повседневной работы по формированию позиции позволяет
                    выполнять важные задания по разработке направлений прогрессивного развития.
                    Разнообразный и богатый опыт новая модель организационной деятельности играет
                    важную роль в формировании новых предложений. Товарищи! новая модель организационной
                    деятельности играет важную роль в формировании систем массового участия.
                p.
                    Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому
                    кругу (специалистов) участие в формировании систем массового участия. Идейные соображения
                    высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов)
                    участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                    Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и
                    реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой
                    процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                .blog-article__inner
                    img(src='./assets/img/blog-article-1-img.jpg' alt='article')

        article.blog-article('data-number=131120161')
            h3.blog-article__title Приёмы в вёрстке, без которых не обходится ни один сайт
            .blog-article__date 13 ноября 2016
            .blog-article__text
                p.
                    Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные
                    задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая
                    модель организационной деятельности играет важную роль в формировании новых предложений.
                    Товарищи! новая модель организационной деятельности играет важную роль в формировании систем
                    массового участия.
                p.
                    Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу
                     (специалистов) участие в формировании систем массового участия. Идейные соображения высшего
                     порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов)
                     участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                     Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и
                     реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой
                     процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

        article.blog-article('data-number=101120162')
            h3.blog-article__title Самый необходимый набор Gulp плагинов
            .blog-article__date 10 ноября 2016
            .blog-article__text
                p.
                    Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные
                    задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая
                    модель организационной деятельности играет важную роль в формировании новых предложений.
                    Товарищи! новая модель организационной деятельности играет важную роль в формировании систем
                    массового участия.
                p.
                    Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу
                     (специалистов) участие в формировании систем массового участия. Идейные соображения высшего
                     порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов)
                     участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                     Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и
                     реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой
                     процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

        article.blog-article('data-number=101120161')
            h3.blog-article__title Почему я выбрал Pug
            .blog-article__date 13 ноября 2016
            .blog-article__text
                p.
                    Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные
                    задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая
                    модель организационной деятельности играет важную роль в формировании новых предложений.
                    Товарищи! новая модель организационной деятельности играет важную роль в формировании систем
                    массового участия.
                p.
                    Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу
                     (специалистов) участие в формировании систем массового участия. Идейные соображения высшего
                     порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов)
                     участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                     Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и
                     реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой
                     процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

    +triangle('blog','blog')