// HEADER section

header.header

    .header__socials
        +socials('header')

    .header__menu
        .burger
            +icon('hamburger','white',true)

    .header__desc
        svg(class='header__image')
            use(xlink:href='./assets/img/sprite.svg#portfolio_header')
        +developer('header')

    .header__scroll-down-arrow
        +icon('arrow_down','white',true)