// HEADER section

header.header-blog

    input.menu-hider(type='checkbox' id='menu-hider' name='menu-hider')

    include ./menu

    .header__socials-wrapper
        +socials('header')

    .header__menu
        label.menu-hider__label(for='menu-hider')
        .burger
            .burger__line
            .burger__line
            .burger__line

    .header-blog__intro
        .header__author-photo
            img(src=developer.photo alt=developer.name)

        +title('header-blog','Блог',true)

        .header-blog__text Статьи, которые я написал

