// HEADER section
header.header

    .header__socials
        ul.socials
        each href, item in socials
            li.socials__item
                a(class="socials__link socials__link_"+item href= href target="_blank")

    .header__menu
        .burger

    .header__desc
        .developer
            .developer__photo
            .developer__name Алексей Ильин
            .developer__description личный вебсайт разработчика

    .header__scroll-down-arrow