// HEADER section

header.header

    input.menu-hider(type='checkbox' id='menu-hider' name='menu-hider')

    include ./menu

    .header__socials-wrapper
        +socials('header')

    .header__menu
        label.menu-hider__label(for='menu-hider')
        .burger
            .burger__line
            .burger__line
            .burger__line

    .header__desc
        svg(class='header__image')
            use(xlink:href='./assets/img/sprite.svg#portfolio_header')
        +developer('header')

    .header__scroll-down-arrow
        +icon('arrow_down','white',true)