// INTRO section

section.intro

    .auth-button Авторизироваться

    .welcome
        .welcome__info
            +developer('welcome')
        .welcome__socials
            +socials('intro')
        .welcome__navigation
            +nav('welcome','Авторизация')

    .login
        .login__title.subtitle Авторизируйтесь
        form.login-form
            .login-form__input
                input.login-form__name(placeholder='Логин')
                .login-form__icon
                    +icon('login','grey')
            .login-form__input
                input.login-form__pass(placeholder='Пароль')
                .login-form__icon
                    +icon('password','grey')
            .login-form__checkbox
                input.login-form__is-man(id='is-man__check' name='check' type='checkbox' value='man')
                .checkbox
                    +icon('checkbox','white')
                label(for='is-man__check') Я человек
            .not-a-robot
                p.not-a-robot__title Вы точно не робот?
                .not-a-robot__radio
                    input.not-a-robot__radio(id='not-a-robot_yes' name='robot' type='radio' value='yes')
                    .radio
                        +icon('radio','white')
                    label(for='not-a-robot_yes') Да
                    input.not-a-robot__radio(id='not-a-robot_no' name='robot' type='radio' value='no')
                    .radio
                        +icon('radio','white')
                    label(for='not-a-robot_no') Не уверен
            .login-form__button.button.button_left На главную
            input.login-form__button.button.button_right(type='submit' value='Войти')
    .intro__footer
        .copyright  &copy; beLemoth 2017