// full screen menu

.fullscreen-menu

    .fullscreen-menu__button
        .burger.burger_white
            label.menu-hider__label(for='menu-hider')
            .burger__line
            .burger__line
            .burger__line

    .fullscreen-menu__nav
        +nav('main')