// TESTIMONIALS section

section.testimonials

    .testimonials__head
        +title('testimonials','Что обо мне говорят')

    .testimonials__content
        each item in testimonials
            .testimonial
                .testimonial__author-photo
                    img(src= item.authorPhoto alt= item.authorName)
                .testimonial__text= item.text
                .testimonial__author-name= item.authorName
                .testimonial__author-desc
                    .testimonial__author-desc-text= item.authorDesc

    .connection
        form.connect
            h3.connect__title.subtitle Связаться со мной
            input.connect__name(placeholder='Имя')
            input.connect__email(placeholder='Email')
            textarea.connect__text(placeholder='Ваше сообщение')
            buttongit ad.connect__send.button Отправить
            button.connect__clear.button Очистить
