// WORKS section

section.works
    .works__head
        +title('works','Мои работы',true)

    .carousel
        .carousel-preview
        .carousel-link
            .carousel-link__block
                .carousel-link__title.subtitle
                .carousel-link__desc
                .carousel-link__button.button Посмотреть сайт
                    a.carousel-link__link(href='#' target="_blank")
                    .carousel-link__icon
                        +icon('link','white')
        .carousel-control
            .carousel-control__prev
                img.carousel-control__image(src="/")
                .carousel-control__button
                    .carousel-control__icon
                        +icon('portf_arrow_down','white')
            .carousel-control__next
                img.carousel-control__image(src="/")
                .carousel-control__button
                    .carousel-control__icon
                        +icon('portf_arrow_up','white')
    +triangle('works','works')