// WORKS section

section.works
    .works-head
        h1.works__tiltle.title Мои работы

    .carousel
        .carousel-preview
        .carousel-link
            .carousel-link__title.subtitle Сайт школы онлайн образования
            .carousel-link__decs HTML, CSS, JAVASCRIPT
            .caousel-link__button.button Посмотреть сайт
        .carousel-control
            .carousel-control__prew
            .carousel-control__next