extends ../_template

block variables
    -
        var title = 'Обо мне'
        var description = 'Краткая информация обо мне и моих навыках в web разработке'


block content

    +header('',true)
    include ../common/sections/about
    include ../common/sections/contacts
    include ../common/sections/footer