extends ../_template

block variables
    -
        var title = 'Обо мне'
        var description = 'Краткая информация обо мне и моих навыках в web разработке'


block content

    include ../common/sections/header
    include ../common/sections/about
    include ../common/sections/contacts
    include ../common/sections/footer

block scripts
    script(src='/assets/js/libs.min.js' defer)
    script(src='/assets/js/app.min.js' defer)
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAAJ04zirzh1rLxMfdiePznSA0h96nGHY&callback=initMap" async defer)



