extends ../_template

block variables
    -
        var title = 'Блог'
        var description = ''


block content

    +header('blog',false)
    include ../common/sections/blog
    include ../common/sections/footer