extends ../_template

block variables
    -
        var title = 'beLemoth web developer portfolio'
        var description = 'beLemoth web developer portfolio application'

block content

    include ../common/sections/intro

block scripts
    script(src='/assets/js/libs.min.js' defer)
    script(src='/assets/js/app.min.js' defer)






