/* local fonts*/
@mixin font-face($font-family) {

	@font-face {
		font-family: $font-family;
		src: url('../fonts/' + $font-family +'.ttf');
		font-weight: normal;
		font-style: normal;
	}
}

/* font styles */
@mixin font-style($font-family,$color,$font-size,$line-height,$letter-spacing) {
	font:{
		family: $font-family;
		size: $font-size;
	}
	color: $color;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
}
